// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


// Toggle global options
//$enable-gradients: true;
//$enable-shadows: true;
$body-color: #333;
//$primary: #333;

$font-family-base: "Figtree", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

// Include functions first
@import "bootstrap/scss/functions";

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

/* Global */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: $yellow;
}

a {
    color: #333;
    text-decoration: underline solid #888 1px;
}


/* Skip Nav */

.skip-nav {
    background-color: $primary;
    border-radius: 0 0 .5rem .5rem;
    color: $body-bg;
    display: inline-block;
    position: absolute;
    padding: 1rem 1.5rem;
    font-size: .875rem;
    line-height: 1rem;
    margin: 0 .5rem;
    top: -3rem;
    z-index: 9999;
    transition: top 250ms ease-in-out;
    text-decoration: underline solid #fff 1px;
}

.skip-nav:active,
.skip-nav:focus {
    top: 0;
}


/* Sidebar */

aside {
    nav {
        padding: 0 !important;
    }
}

@include media-breakpoint-up(md) {
    aside {
        nav {
            height: 100vh;
            align-items: stretch;
            padding-top: 2rem !important;
        }
    }
}

@include media-breakpoint-up(xl) {
    aside {
        padding-right: 2rem !important;
    }
}

/* Main */

main {

    //    background-color: orange;
    .hero {
        padding: 2rem 0 0;

        h1 {
            &:after {
                content: " :)";
            }
        }
    }

    .about {
        padding: 2rem 0 0;
    }

    .work {
        padding: 2rem 0 0;

        ul {
            list-style: none;
            margin-right: calc(-0.5* var(--bs-gutter-x));
            margin-left: calc(-0.5* var(--bs-gutter-x));
            padding: 0;

            li {
                a {
                    .frame {
                        border-radius: .25rem;
                        height: 15rem;
                        width: 100%;
                        overflow: hidden;

                        img {
                            display: block;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                            transition: transform .4s ease-out;
                        }
                    }

                    &:hover {
                        .frame {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .hero {
            min-height: 100vh;
        }

        .about {
            min-height: 100vh;
        }

        .work {
            min-height: 100vh;
        }
    }

}

/* Nav */

a.external {
    position: relative;

    &:after {
        background: url(../assets/external.svg) no-repeat center center;
        content: '';
        display: inline-block;
        margin: 0;
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
    }
}

.navbar-brand {
    white-space: wrap;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;

    p {
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin: 0;

        &.lead {
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .5px;
            margin: 0;
        }
    }
}

.navbar-toggler {
    padding: .5rem;
    border-radius: .25rem;
    box-sizing: border-box;
    border: 0;

    .navbar-toggler-icon {
        background: url('../assets/hamburger.svg') no-repeat center center;
        display: block;
        height: 1.5rem;
        width: 1.5rem;
    }
}

.navbar,
.navbar-collapse {
    .info {
        width: 100%;
        margin: 0;
        border-bottom: 3px solid $hr-border-color;
        padding: 0 0 calc(1rem + 1px);
        margin: 0 0 1rem;
        box-sizing: border-box;

        p {
            color: $secondary;
            font-size: .75rem;
            line-height: 1rem;
            margin: .25rem 0 0;
        }

    }

    .form-check {
        // color: $nav-link-color;
        margin: 1.5rem 0 0;

        &:hover,
        &:active,
        &:focus {
            // color: $nav-link-hover-color;
        }
    }
}

.navbar {
    padding-top: 1rem !important;
}

@include media-breakpoint-up(md) {

    .navbar,
    .navbar-collapse {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        .info {
            padding: 1rem 0 calc(1.5rem + 1px);
        }

        .form-check {
            flex-grow: 1;
            width: 100%;
            padding-bottom: 2rem;
            align-content: flex-end;
        }
    }

    .navbar {
        padding-top: 2rem !important;
    }

    .navbar-brand {
        width: 100%;

        p {
            &.lead {
                margin: .5rem 0 0;
            }
        }
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
            .nav-link {
                padding: .5rem 0;
            }
        }
    }
}

/* Dark Mode */

[data-bs-theme="dark"] {
    a {
        color: #999;
    }

    .navbar-toggler-icon {
        filter: invert(200%);
    }
}