$font-family-base: "Figtree", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');
@import "bootstrap/scss/bootstrap";

/* Skip Nav */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    z-index: 1000;
}


/* Sidebar */

aside{
   // background: yellow;
}

@include media-breakpoint-up(md) {
    aside{
        min-height: 100vh;
    }
}

/* Main */

main{
   // background-color: orange;

    .work{
        ul{
            list-style: none;
            margin-right: calc(-0.5* var(--bs-gutter-x));
            margin-left: calc(-0.5* var(--bs-gutter-x));
            padding: 0;
            li{
                a{
                    .frame{
                        border-radius: .25rem;
                        height: 15rem;
                        width: 100%;
                        overflow: hidden;
                        img{
                            display: block;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                            transition: transform .4s ease-out;
                        }
                    }
                    &:hover{
                        .frame{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }        
    }

}

/* Nav */

.navbar-brand{
    white-space: wrap;
}
@include media-breakpoint-up(md) {
    .navbar,
    .navbar-collapse {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .navbar-brand{
        width: 100%;
    }
    .navbar-expand-md .navbar-nav .nav-item{
        

    }
}